#menu
  position fixed
  background #fff
  box-shadow 0 0 1em 0 #e5e5e5 inset
  height 100%
  padding 0 3em 0 1em
  width 3em
  a
    color  #EBE9F4
    font-size 2em
  a:hover, a:active
    color #000
